@import url('https://fonts.googleapis.com/css?family=Sarala');
html,
body {
  padding: 0;
  margin: 0;
  font-family: Sarala;
  background: #2B85D8;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

table {
  
  border-collapse: collapse;
  width: 100%;
  border-radius: 30;
  color: #000000
}

td, th {
  border: 3px solid #000000;
  text-align: left;
  padding: 8px;
  border-radius: 30;
  color: white
}


tr:nth-child(even) {
  background-color: #3AACFF;
}
tr:nth-child(odd) {
  background-color: #35698f;
}